body {
  font-family: Poppins, sans-serif;
  scroll-behavior: smooth;
  cursor: grab;
}
.container {
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  scroll-snap-align: start;
  width: 100%;
  height: 100vh;
}
nav {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  cursor: pointer;
}
li:hover {
  color: #ff0000;
}
ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  margin: 0;
}
li {
  padding: 15px;
}
.left-nav {
  padding: 10px;
  font-size: 35px;
}
.list-items {
  display: flex;
  justify-content: space-evenly;
}
.lists {
  display: flex;
  justify-content: space-evenly;
  font-weight: 500;
  color: #111;
}
.nav-button {
  border: none;
  color: #ff0000;
  font-size: 16px;
  background: none;
  transition: all 0.2s ease-in-out;
}
.nav-button:hover {
  background: #ff0000;
  color: white;
  font-weight: bold;
  padding: 10px 16px;
  border-radius: 8px;
}
