body {
  font-family: Poppins, sans-serif;
  scroll-behavior: smooth;
  cursor: grab;
}
.container {
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  scroll-snap-align: start;
  width: 100%;
  height: 100vh;
}
nav {
  display: flex;
  justify-content: space-between;
  padding-bottom: 63px;
  cursor: pointer;
  padding-top: 35px;
}

li:hover {
  color: #ff0000;
}
ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  margin: 0;
}
li {
  padding: 15px;
}
.left-nav {
  padding: 10px;
  font-size: 35px;
  color: #f50057;
}
.list-items {
  display: flex;
  justify-content: space-evenly;
}
.lists {
  display: flex;
  justify-content: space-evenly;
  font-weight: 500;
  color: #111;
}
.nav-button {
  border: none;
  color: #f50057;
  font-size: 18px;
  background: none;
  transition: all 0.2s ease-in-out;
  font-weight: 700;
}
.nav-button:hover {
  background: #f50057;
  color: white;
  font-weight: bold;
  padding: 10px 16px;
  border-radius: 8px;
}
.main-page {
  background: #f7f8fa;
  height: 100vh;
  width: 100%;
  margin: 0;
}
.main-heading {
  text-align: center;
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 0.5rem;
}
.main-heading-desc {
  text-align: center;
  margin-top: 0;
  color: #6e6e6e;
  font-size: 17px;
  padding-bottom: 1rem;
  font-weight: 400;
  margin-bottom: 10px;
}
.button-main {
  text-align: center;
  padding-bottom: 10px;
}
.pink {
  padding: 15px 30px;
  border: none;
  font-size: 0.875rem;
  margin-left: 0.25rem;
  font-size: 16px;
  border-radius: 8px;
  background: #ff80ab;
  color: #f50057;
  font-weight: 600;
  cursor: grabbing;
}
.pink:hover {
  background: #f7f8fa;
  color: #f50057;
  border: 1px solid #f50057;
}
.home-navy {
  color: #003247;
}
.navy {
  padding: 15px 30px;
  border: none;
  font-size: 0.875rem;
  margin-left: 0.25rem;
  font-size: 16px;
  border-radius: 8px;
  color: #003247;
  background: #3a7ca5;
  font-weight: 600;
  cursor: grabbing;
}
.navy:hover {
  background: #f7f8fa;
  color: #003247;
  border: 1px solid #003247;
}
.image-main {
  text-align: center;
  width: 500px;
  height: 500px;
  object-fit: cover;
  height: auto;
  border-radius: 10px;
  padding-top: 10px;
}
.works-heading {
  text-align: center;
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
}
.how-it-works {
  padding-top: 78px;
  padding-bottom: 48px;
}
.column-container {
  display: flex;
  justify-content: space-evenly;
}
.icon svg {
  width: 55px;
  height: 55px;
}
.column-heading h3 {
  font-size: 20px;
}
.read-link {
  color: #f50057;
  cursor: pointer;
}
